<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.huma.al_malzma"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:name=".parse.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:label="@string/title_activity_signup">
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".persistence.DbActivity"
            android:label="@string/title_activity_db">
        </activity>
        <activity
            android:name=".ui.WeeksActivity"
            android:label="@string/title_activity_weeks">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.huma.al_malzma.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.SubjectActivity"
            android:label="@string/title_activity_subject">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.huma.al_malzma.ui.WeeksActivity"/>
        </activity>
        <activity
            android:name=".ui.ImageActivity"
            android:theme="@style/NoActionBar">
        </activity>
    </application>

</manifest>
